*.iml
.gradle
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build.sh
/releaseNotes/
/fastlane/report.xml
/scripts/
/fastlane/

/build.sh
/app/src/dev/assets/envs/dev9/fireblocks_data.json
/app/src/dev/assets/envs/dev10/fireblocks_data.json
/Gemfile
/Gemfile.lock
/app/src/dev/google-services.json
/app/src/sandbox/google-services.json
app/src/production/google-services.json
/app/production/
