<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name="com.fireblocks.sdkdemo.bl.notifications.EWFirebaseMessagingService"
            android:exported="false"
            android:priority="1000">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>